<div class="survey-body">
  <div class="title-box">
    <p>Удобная и доступная терапия с <span class="neon-green">Komek.</span></p>
  </div>

  <div class="survey-box">
    <div class="text-title">{{help_yourself}}</div>
    <div class="line"></div>
    <div class="text-description">{{questions[curIdx].title}}</div>
    <div>
      <div class="option-button" *ngFor="let q of questions[curIdx].options" (click)="showNextQuestion(q)">
        <div class="option-text">{{q}}</div>
      </div>
    </div>
  </div>

  <div class="back-image">
    <img src="../../../assets/back-image.png">
  </div>
</div>
